:root{
  --primary1 : #282C6C;
  --primary2 : #171b5b;

}
.css-sj612a{
  border:  none !important;
  box-shadow: 5px 5px 10px #5c5c5c;
}

.css-1yo1fu-MuiStack-root{
  padding-top: 0 !important;
  flex-grow: 1;
  
}

.css-1yo1fu-MuiStack-root>.MuiTextField-root, .css-1yo1fu-MuiStack-root>.MuiPickersTextField-root{
  min-width: 0 !important;
  width: 100%;
}

/* Height of input */
.css-kbp9eo-MuiFormLabel-root-MuiInputLabel-root{
  line-height: 1rem !important;
}
.css-1j615le-MuiInputBase-input-MuiOutlinedInput-input{
  height: 1rem !important;
}

.css-cc5vd3-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  height: 1rem !important;
}
.css-cc5vd3-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
  min-height: 1rem !important;
}

.css-1nm7di2-MuiInputBase-input-MuiOutlinedInput-input{
  height: 1rem !important;
}

/* Side bar items animations */
.sideBarListItem::after{
  display: block;
  content: '';
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--primary1);
  transition: width .3s  ease;
}
.sideBarListItem:hover::after{
  width: 100%;
  background-color: var(--primary2);
}


/* For no scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}